<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <label>File name</label>
    <input type="text" value="{{data.file_name}}" name="fname"><br><br>
    <label>Image</label>
    <img src="{% static img %}" width="200px" height="200px">
    <input type="file" value="{{data.img}}" name="imagee"><br><br>
    <label>Description</label>
    <input type="text" value="{{data.description}}" name="desc"><br><br>
    <input type="submit" value="submit">

</form>
</body>
</html>